.auto-content {
    margin-top: 6rem;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
    cursor: pointer;
    text-align: left;
    display: none;
} 
.auto-content .item {
    border-bottom: 1px solid #d9d9d9;
    padding: 1rem 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.4rem;
}
.auto-content h3 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: .5rem;
}
.auto-content h3.h4 {
    font-size: 1.5rem;
}
.auto-content p {
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.item:active, .item:hover {
    background-color: #d9d9d9;
}
.btn-cancel {
    width: 5.5rem;
    margin-left: .5rem;
    padding: 0;
    height: 4rem;
    line-height: 4rem;
}
.header {
    display: -webkit-box;
    box-sizing: border-box;
    -moz-box-align: center;
    -webkit-box-align: center;
    -moz-box-pack: center;
    -webkit-box-pack: center;
    padding: 1rem;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #eee;
}
.header div {
    position: relative;
    -webkit-box-flex: 1;
    height: 4rem;
    line-height: 4rem;
}
.header input{
    padding-left: 2.8rem;
}
.header i {
    display: block;
    position: absolute;
    top: .1rem;
}
.header i.icon-search{
    left: 1rem;
}
.header i.icon-cancel{
    display: none;
    right: 1.5rem;
    color: #ccc;
}
