body {
    background-color: #ddd;
}
.bg-color {
    background-color: #fff;
}
h4.header {
    padding: 1.6rem;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
article {
    padding: 1rem 1.6rem;
    margin-bottom: 1rem;
}
article p {
    padding-bottom: 0.8rem;
}

section {
    display: -webkit-box;
       -moz-box-align: center;
    -webkit-box-align: center;
       -moz-box-pack: center;
    -webkit-box-pack: center;
    border-top: 1px solid #ccc;
    padding: 1rem 0;
}
section dl {
    display: block;
    -webkit-box-sizing: border-box;
    -webkit-box-flex: 1;
}
/**/
.star {
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    padding: 1rem 0 1.5rem;
}
.star i {
    font-size: 4rem;
    color: #ccc;
}
.btn-commit {
    box-sizing: border-box;
    display: block;
    text-align: center;
    margin-top: 2rem;
    width: 70%;
    margin-left: 15%;
}