.fi-text {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    background:#fff;
    vertical-align:middle;
    box-sizing: border-box;
    border-radius: .5rem;
}
.fi-text:focus {
    border: 1px solid #86caf2;
}

.fi-err {
    border: 1px solid #ff7e7e;
}
.fi-focus {
    border: 1px solid #86caf2;
}
.fi-dis{
    border: 1px solid #ccc;
    background: #f2f2f2;
}

.fi-huge {
    height: 4rem;
    padding: 0 0.5rem;
    font-size: 1.5rem;
}
.fi-max {
    height: 3rem;
    padding: 0 0.5rem;
    font-size: 1.5rem;
}
.fi-mid {
    height: 2.4rem;
    padding: 0 0.5rem;
}
.fi-min {
    height: 2rem;
    padding: 0 0.2rem;
}
