<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>tmp</title>
<style>
.bg{background:black;}
div{position:relative;width:146px;text-align:center}
div p{background:white;font-size:12px;padding:5px;border:1px solid #ccc;position:absolute;right:-70px;top:20px;width:110px}
li,b,strong{text-align:left;font-weight:normal}
i{display:inline-block;*display:inline;*zoom:1;background:green;width:10px;height:10px;overflow:hidden}
</style>
<script>
window.name="@window@";


var J={name:'J'};
var J={
	prefix:"anjuke",
	bubbleTo:function (el, endEl, key) {
			if (!el || (el && el == document)) {
				return null;
			} else if (el == endEl || (el.getAttribute && el.getAttribute(key))) {
				return el;
			} else if (el.parentNode) {
				return this.bubbleTo(el.parentNode, endEl, key);
			} else {
				return null;
			}
	},
	add:function(o, e, f) {
		return o.addEventListener ? o.addEventListener(e, f, false) : o.attachEvent('on'+e, function () { f.call(o) });
	},
	template:(function(cache, $) {
		var prefix;
		return function(str, data) {
			if(!prefix){
				var ele=document.getElementById(str);
				J.prefix=prefix=ele.getAttribute('type').split('/').pop()+"-cmd";   // 自定义 anjuke-cmd
			}
			var fn = !/\s/.test(str) ? cache[str] = cache[str] ||J.template(ele.innerHTML) : function(data) {
				var i,variable = [$],value = [[]];
				for (i in data) {
					variable.push(i);
					value.push(data[i]);
				};
				var html=new Function(variable, fn.$).apply(data, value).join("");
				html=html.replace(/@([\s\S]*?)@/g,function($,$1){
					return (' '+(prefix+'='+$1)+' ').replace(/^\s+|\s+$/g,' '); 
				});
		
				/* todo预先绑定 ?
					
				*/
				return html;
			};
			fn.$ = fn.$ || $ + ".push('"
			+ str.replace(/\\/g, "\\\\")
			.replace(/[\r\t\n]/g, " ")
			.split("<%").join("\t")
			.replace(/((^|%>)[^\t]*)'/g, "$1\r")
			.replace(/\t=(.*?)%>/g, "',$1,'")
			.split("\t").join("');")
			.split("%>").join($ + ".push('")
			.split("\r").join("\\'")
			+ "');return " + $;
			return data ? fn(data) : fn;
		}
	})({},'$'+(+new Date)),
	live:function(el, type,funs){//J.prefix == key
		var that=this;
		this.add(el, type,function(e){
			var tar=that.bubbleTo(e ? e.target : window.event.srcElement, el,J.prefix);
			if (tar){
                var cmd = tar.getAttribute(J.prefix);//可能为null
				if(cmd && (~cmd.indexOf("{"))) {
					//console.log(eval("("+cmd+")"))
				}else{
					funs[cmd] && funs[cmd].call(tar,tar);
				}
            }
		})
	}
}


/* 绑定事件的钩子 两个等价  */

/*
	<li>@pop@</li>
	<li anjuke-cmd=pop></li>
	
	J.live($res,'mouseover',{
		'pop':function(e){
		}
	});

*/


</script>
</head>
<body>
<div id="res"></div>
<script type="text/anjuke" id="tmpl">
	<h2 anjuke-cmd={"click":"pop","mouseover":"hover"} ><%=title%></h2>
	<h3><%=director%></h3>
	<div @show@ class="bg">
		<img src=<%=pics%> />
		<p style="display:none"><%=des%></p>
	</div>
	<ol>
		<% for (var i = 0, len=tags.length; i<len;i++){%>
			<li@style01@class="tags"><%=tags[i]%> <i@style03@></i></li>
		<%}%>
	</ol>
	<ul>
		<% for (var j = 0, jlen=items.length; j<jlen;j++){%>
			<li class="items items-black" anjuke-cmd=style02>
				<strong><%=items[j].name%></strong>
				<b><%=items[j].time%></b>
			</li>
		<%}%>
	</ul>
</script>



<script>
var $res=document.getElementById("res");//容器
var JSON={//数据
	pics:'http://img5.douban.com/view/movie_poster_cover/spst/public/p1512562287.jpg',
	title: "让子弹飞",
	director:"姜文",
	des:'民国年间，花钱捐得县长的马邦德携妻及随从走马上任。途经南国某地，遭劫匪张麻子一伙伏击，随从尽死...',
	tags:['剧情','喜剧','动作','西部'],
	items:[{name:"寻枪",time:"2013"},{name:"红高粱",time:"2012"}]
}




$res.innerHTML=J.template('tmpl',JSON);


/* 
	省略  'anjuke-cmd'
*/
J.live($res,'mouseover',{//绑定事件
	'show':function(e){
		this.getElementsByTagName('p')[0].style.display="block";
	},
	'style01':function(e){
		this.style.color= this.style.color=='green'?'':'green'
	},
	'style02':function(e){
		this.style.color= this.style.color=='red'?'':'red'
	},
	'style03':function(e){
		this.style.background= this.style.background=='black'?'':'black'
	}
});

J.live($res,'mouseout',{
	'show':function(){
		this.getElementsByTagName('p')[0].style.display="none";
	}
});

</script>
</body>
</html>