/* Common CSS */
html {
    color: #333;
    font: 62.5% "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}
body {
    font-size: 1.2rem;
    background-color: #eee;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
a {
    color: #333; 
    text-decoration: none;
    outline: none;
}
a.cur {
    color: #f60;
}
.hidden {
    display: none;
}

/* font-size */
.h1{

}
.h2{
    font-size: 1.9rem;
    font-weight: bold;
}
.h3{
    font-size: 1.7rem;
}
.h4{
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.h5{
    font-size: 1.2rem;
}
/* color */
.txt-primary{
    color: #333;
}
.txt-success{
    color: #007FFF;
}
.txt-muted{
    color: #888;
}
.txt-warning{
    color: #FF8000;
}
.txt-error{
    color: #FF0000;
}
.txt-important{
    color: #E54A00
}
.txt-info{

}



/* Deprecated */
/* title */
.com-title {
    color: #333;
}
h3.com-title {
    font-size: 1.7rem;
}
h4.com-title {
    font-size: 1.5rem;
}
h5.com-title {
    font-size: 1.2rem;
    font-weight: bold;
}
/* TODO::remove */