<!DOCTYPE html>
<html>
  <head>
    <title>(单页)测试列表页到单页，异步加载的内容是不是会被自动定位</title>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  </head>
  <body>
    我是单页
  </body>
</html>
