<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" rev="stylesheet" href="example-home.css" type="text/css">
        <script data-main="example-home" src="js/lib/require.js"></script>
    </head>
    <body>
        <h1>Plan B - Home Page</h1>
        <hr>
        <a href="login.html">Go to Login Page.</a>

        <div id="results"></div>
        <hr/>
        <div id="results2"></div>
        <script type="text/html" id="user_tmpl">
            <% for ( var i = 0; i < users.length; i++ ) { %>
            <li><a href="<%=users[i].url%>"><%=users[i].name%></a></li>
            <% } %>
        </script>

        <script type="text/html" id="user_tmpl2">
            <% for ( var i = 0; i < users.length; i++ ) { %>
            <li><a href="<%=users[i].url%>"><%=users[i].name%></a></li>
            <% } %>
        </script>


    </body>
</html>

